<!-- Loading bar -->
<fuse-loading-bar></fuse-loading-bar>
<!-- Navigation -->
<fuse-vertical-navigation
    class="dark bg-gray-900 print:hidden"
    [mode]="isScreenSmall ? 'over' : 'side'"
    [name]="'mainNavigation'"
    [navigation]="navigation.default"
    [opened]="!isScreenSmall">
    <!-- Navigation header hook -->
    <ng-container fuseVerticalNavigationContentHeader>
        <div class="flex items-center w-full p-4 pl-6">
            <!-- Logo -->
            <div class="flex items-center justify-center">
                <img
                    class="w-8"
                    src="assets/images/logo/logo.png">
            </div>
            <!-- Components -->
            <div class="flex items-center ml-auto">
                <notifications></notifications>
                <user [showAvatar]="false"></user>
            </div>
        </div>
        <!-- User -->
        <div class="flex flex-col items-center w-full p-4">
            <div class="relative w-24 h-24">
                <img
                    class="w-full h-full rounded-full"
                    *ngIf="user.avatar"
                    [src]="user.avatar"
                    alt="User avatar">
                <mat-icon
                    class="icon-size-24"
                    *ngIf="!user.avatar"
                    [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
            </div>
            <div class="flex flex-col items-center justify-center w-full mt-6">
                <div class="w-full whitespace-nowrap overflow-ellipsis overflow-hidden text-center leading-normal font-medium">
                    {{user.name}}
                </div>
                <div class="w-full mt-0.5 whitespace-nowrap overflow-ellipsis overflow-hidden text-center text-md leading-normal font-medium text-secondary">
                    {{user.email}}
                </div>
            </div>
        </div>
    </ng-container>
    <!-- Navigation footer hook -->
    <ng-container fuseVerticalNavigationContentFooter>
        <div class="flex flex-0 items-center justify-center h-16 pr-6 pl-2 mt-2 mb-4 opacity-12">
            <img
                class="max-w-36"
                src="assets/images/logo/logo-text-on-dark.png">
        </div>
    </ng-container>
</fuse-vertical-navigation>

<div class="flex flex-col flex-auto min-w-0">
<!--- THIS IS MOVED INSIDE THE MAIN SECTION AFTER THE FIRST LINE -->
<div class="relative flex flex-0 items-center w-full h-16 px-4 md:px-6 z-49 shadow dark:shadow-none dark:border-b bg-card dark:bg-transparent print:hidden">
    <!-- Navigation toggle button -->
    <button
        mat-icon-button
        (click)="toggleNavigation('mainNavigation')">
        <mat-icon [svgIcon]="'heroicons_outline:menu'"></mat-icon>
    </button>
    <!-- Components -->
    <div class="flex items-center pl-2 ml-auto space-x-0.5 sm:space-x-2">
        <languages></languages>
        <fuse-fullscreen class="hidden md:block"></fuse-fullscreen>
        <search [appearance]="'bar'"></search>
        <shortcuts></shortcuts>
        <messages></messages>
    </div>
</div>
<!--- THIS IS MOVED INSIDE THE MAIN SECTION AFTER THE FIRST LINE -->
    <!-- Header -->
    <div class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-8 sm:px-10 border-b bg-card dark:bg-transparent">
        <div class="flex-1 min-w-0">
            <div class="mt-2">
                <h2 class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                    Edit Company Medical Plan
                </h2>
            </div>
        </div>
    </div>

    <!-- Main -->
    <div class="row">
        <div class="col-xl-3">
            <form class="flex flex-col mt-8 p-8 pb-4 bg-card rounded-2xl shadow overflow-hidden" autocomplete="off">
                <div class="flex flex-col gt-xs:flex-row">
                    <mat-form-field
                        [ngClass]="formFieldHelpers"
                        class="flex-auto gt-xs:pr-3">
                        <mat-label>Company ID</mat-label>
                        <input matInput id="company_id" name="company_id" [(ngModel)]="data.formData['company_id']" autocomplete="new-password">
                        <mat-icon
                            class="icon-size-5"
                            matSuffix
                            [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
                    </mat-form-field>
                    <mat-form-field
                        [ngClass]="formFieldHelpers"
                        class="flex-auto gt-xs:pl-3">
                        <mat-label>Plan Name</mat-label>
                        <input matInput id="plan_code" name="plan_code" [(ngModel)]="data.formData['plan_code']"  autocomplete="new-password">
                        <mat-icon
                            class="icon-size-5"
                            matSuffix
                            [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
                    </mat-form-field>
                </div>
                <div class="flex flex-col gt-xs:flex-row">
                    <mat-form-field
                        [ngClass]="formFieldHelpers"
                        class="flex-auto gt-xs:pr-3">
                        <mat-label>APA Code</mat-label>
                        <input matInput id="APA_CODE" name="APA_CODE" [(ngModel)]="data.formData['APA_CODE']"  autocomplete="new-password">
                        <mat-icon
                            class="icon-size-5"
                            matSuffix
                            [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
                    </mat-form-field>
                    <mat-form-field
                        [ngClass]="formFieldHelpers"
                        class="flex-auto gt-xs:pl-3">
                        <mat-label>EE Price</mat-label>
                        <input matInput id="ee_price" name="ee_price" [(ngModel)]="data.formData['ee_price']"  autocomplete="new-password">
                        <mat-icon
                            class="icon-size-5"
                            matSuffix
                            [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
                    </mat-form-field>
                </div>
            </form>
</div>
<div class="col-xl-3">
            <form class="flex flex-col mt-8 p-8 pb-4 bg-card rounded-2xl shadow overflow-hidden">
                <div class="flex flex-col gt-xs:flex-row">
                    <mat-form-field
                        [ngClass]="formFieldHelpers"
                        class="flex-auto gt-xs:pr-3">
                        <mat-label>ES Price</mat-label>
                        <input matInput id="ees_price" name="ees_price" [(ngModel)]="data.formData['ees_price']"  autocomplete="new-password">
                        <mat-icon
                            class="icon-size-5"
                            matSuffix
                            [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
                    </mat-form-field>
                    <mat-form-field
                        [ngClass]="formFieldHelpers"
                        class="flex-auto gt-xs:pl-3">
                        <mat-label>EC Price</mat-label>
                        <input matInput id="eec_price" name="eec_price" [(ngModel)]="data.formData['eec_price']"  autocomplete="new-password">
                        <mat-icon
                            class="icon-size-5"
                            matSuffix
                            [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
                    </mat-form-field>
                </div>
                <div class="flex flex-col gt-xs:flex-row">
                    <mat-form-field
                        [ngClass]="formFieldHelpers"
                        class="flex-auto gt-xs:pr-3">
                        <mat-label>FAM Price</mat-label>
                        <input matInput id="fam_price" name="fam_price" [(ngModel)]="data.formData['fam_price']"  autocomplete="new-password">
                        <mat-icon
                            class="icon-size-5"
                            matSuffix
                            [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
                    </mat-form-field>
                </div>
                <mat-form-field
                [ngClass]="formFieldHelpers"
                class="flex-auto gt-xs:pr-3">
                <mat-label>Type</mat-label>
                <mat-select  id="plan_type" name="plan_type" [(ngModel)]="data.formData['plan_type']">
                    <mat-option value="*MEDICAL*">Medical</mat-option>
                    <mat-option value="*DENTAL*">Dental</mat-option>
                    <mat-option value="*VISION*">Vision</mat-option>
                    <mat-option value="*LIFE*">Life</mat-option>
                </mat-select>
                <mat-icon
                    class="icon-size-5"
                    matPrefix
                    [svgIcon]="'heroicons_solid:location-marker'"></mat-icon>
            </mat-form-field>
                <div class="flex items-center justify-end border-t -mx-8 mt-8 px-8 py-5 bg-gray-50 dark:bg-gray-700">
                    <button 
                    [routerLink]="['/company-dashboard',data.formData['company_id']]" 
                        mat-button>
                        Cancel
                    </button>
                    <button
                        class="px-6 ml-3"
                        mat-flat-button
                        [color]="'primary'" (click)="postForm(data.formData['company_id'])">
                        Save
                    </button>
                    <button
                    (click)="postDelete(data.formData['company_id'])"
                    class="btn btn-danger">
                    Delete
                </button>
                </div>
            </form>
</div>
    <div class="col-xl-3">
        <form class="flex flex-col mt-8 p-8 pb-4 bg-card rounded-2xl shadow overflow-hidden">        
        <table class="table table-responsive">
            <thead><tr><th>VB Code</th><th>Client Plan</th></tr> </thead>
            <tbody>
                <tr><td (click)="copyAPA('VB11');">VB11</td><td>Platinum III</td></tr>
                <tr><td (click)="copyAPA('VB10');">VB10</td><td>Platinum</td></tr>
                <tr><td (click)="copyAPA('VB12');">VB12</td><td>Platinum</td></tr>
                <tr><td (click)="copyAPA('VB15');">VBP15</td><td>Platinum</td></tr>
                <tr><td (click)="copyAPA('VB17');">VB17</td><td>Gold II</td></tr>
                <tr><td (click)="copyAPA('VBP1');">VBP1</td><td>Gold</td></tr>
                <tr><td (click)="copyAPA('VB14');">VB14</td><td>Gold HSA</td></tr>
                <tr><td (click)="copyAPA('VB23');">VB23</td><td>Gold III</td></tr>
                <tr><td (click)="copyAPA('VB18');">VB18</td><td>Silver II</td></tr>
                <tr><td (click)="copyAPA('VB19');">VB19</td><td>Silver HSA</td></tr>
                <tr><td (click)="copyAPA('VB13');">VB13</td><td>Silver III (aka Silver HSA II)</td></tr>
                <tr><td (click)="copyAPA('VBP3');">VBP3</td><td>Silver</td></tr>
                <tr><td (click)="copyAPA('VB22');">VB22</td><td>Silver III</td></tr>
                <tr><td (click)="copyAPA('VB21');">VB21</td><td>Bronze 4K</td></tr>
                <tr><td (click)="copyAPA('VBP9');">VBP9</td><td>Bronze</td></tr>
                <tr><td (click)="copyAPA('VB20');">VB20</td><td>Bronze II</td></tr>
                <tr><td (click)="copyAPA('VBP8');">VBP8</td><td>Copper / Essential</td></tr>
                <tr><td (click)="copyAPA('VBP7');">VBP7</td><td>Prime</td></tr>
                <tr><td (click)="copyAPA('VBP6');">VBP6</td><td>Premium</td></tr>
                <tr><td (click)="copyAPA('VBP5');">VBP5</td><td>Plan 1 (Commodore West Club)</td></tr>
                <tr><td (click)="copyAPA('VBP2');">VBP2</td><td>Plan 2 (Legacy VBC)</td></tr>
            </tbody>
        </table>
        </form>
    </div>
</div>
